.cabecalho__menu--hamburguer {
    width: 36px;
    height: 24px;
    padding: 1em;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/Menu.svg");
    display: inline-block;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu--hamburguer {
    background-image: url("../img/Menu\ Aberto.png");
}

.container__botao:checked~.container__rotulo {
    background: var(--azul);
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    align-items: center;
    position: relative;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 70vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
    font-family: var(--fonte-padrao);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista__menu--link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__botao {
    display: none;
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

@media screen and (min-width: 1024px) {

    .container__titulo,
    .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 400;
        padding-left: 1em;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .container__imagem--favoritos {
        display: none;
    }

    .opcoes {
        display: flex;
        align-items: center;
    }

    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 400;
        color: var(--preto);
    }

    .opcoes__item a {
        text-decoration: none;
        font-size: 16px;
        color: var(--preto);
    }

    .cabecalho__menu--hamburguer {
        display: none;
    }

}

.container__texto{
    display: none;
}

@media screen and (min-width: 1728px) {
    
    .cabecalho{
        padding: 1em;
    }

    .container__texto {
        display: block;
    }

    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 20px;
        color: var(--preto);
        padding-right: 2em;
    }

    .container__imagem {
        width: 32px;
    }

    .opcoes{
        margin-right: auto;
    }

}